extends /layouts/application.pug

block content
  table.table.table-stripped
    thead
      tr
        th id
        th preview
        th info
    tbody
      each msg in hellow
        tr
          td= msg.id
          td= msg.preview
          td= msg.info
