extends /layouts/application.pug

block content
  table.table.table-stripped
    thead
      tr
        th id
        th text
    tbody
      each msg in hellow
        tr
          td= msg.id
          td= msg.text
