mixin correctUserName(user)
  if user.isSoftDeleted()
    .text-secondary= `${user.fullName()} (User profile was deleted)`
  else
    = `${user.fullName()}`

mixin correctStatusName(status)
  if status.isSoftDeleted()
    .text-secondary= `${status.name} (Status deprecated)`
  else
    = `${status.name}`
