extends /layouts/application.pug

block content
  +formFor(f, { url: urlFor('tasks'), method: 'post' })
    +input(f, 'assign to')
    .form-group
      label(for="description") Description
      textarea.form-control(name="form[description]", rows="8", id="description")
    +input(f, 'tags')
    +button(f)
