extends /layouts/application.pug

block content
  .container.w-60.mx-auto
    +formFor(f, { url: urlFor('tasks'), method: 'post' })
      +input(f, 'name')
      .form-group
        label(for="assignedTo") Assign to:
        select.form-control(name="form[assignedTo]", id="assignedTo")
          each user in cashedData.users
            option(value= user.id)= user.fullName()
      .form-group
        label(for="description") Description
        textarea.form-control(name="form[description]", rows="8", id="description")
      .form-group
        - const statuses = cashedData.statuses
        label(for="status") Status
        select.form-control(name="form[status]", id="status")
          if statuses.length == 1
            option(selected value= statuses[0].id)= statuses[0].name
          else
            - const statTail = statuses.slice(1)
            each status in statTail
              if status.name == 'new'
                option(selected value= status.id)= status.name
              else
                option(value= status.id)= status.name
      +input(f, 'tags', { as: 'text' }, '(Use a comma as the delimiter. For example: best, big, bang)')
      +button(f)
