extends /layouts/application.pug

block content
  .container.w-60.mx-auto
    +formFor(f, { url: urlFor('editStatus', f.object.id), method: 'patch' })
      +input(f, 'name')
      .form-group
        input.btn.btn-success.mr-4(type="submit", value="Save")
        a.btn.btn-secondary.mr-4(href=urlFor('statuses')) Close
    +formFor(f, { url: urlFor('deleteStatus', f.object.id), method: 'delete' })
      .pt-3
        p Danger zone
        .w-50.h-50.p-3(style="border: solid; border-color: red")
          input(class=`btn btn-danger` type=`submit` data-confirm="Are you sure?" value=`Delete status`)
