extends /layouts/application.pug

block content
  .container.w-20.mx-auto
    if isSignedIn()
      .container.mb-4.pl-0
        a.btn.btn-success.mr-2(href=urlFor('newStatus')) New status
    table.table.table-stripped.bg-light
      thead
        tr
          th Status №
          th Status name
      tbody
        - let i = 1
        each status in statuses
          tr
            if !status.isSoftDeleted()
              td= i++
              td
                a.badge.badge-primary.ml-2(href=urlFor('status', status.id))= status.name
